Ejercicios/3.webp
Ejercicios/contacto.html
Ejercicios/estiloPWEB.css
Ejercicios/holaMundo.html
Ejercicios/normalize.css
I PARCIAL/Examen 1 Parcial/entrada1.webp
I PARCIAL/Examen 1 Parcial/entrada2.webp
I PARCIAL/Examen 1 Parcial/entrada3.webp
I PARCIAL/Examen 1 Parcial/index.html
I PARCIAL/Examen 1 Parcial/logo.webp
I PARCIAL/Examen 1 Parcial/pizza1.webp
I PARCIAL/Examen 1 Parcial/pizza2.webp
I PARCIAL/Examen 1 Parcial/pizza3.webp
I PARCIAL/Examen 1 Parcial/postre1.webp
I PARCIAL/Examen 1 Parcial/postre2.webp
I PARCIAL/Examen 1 Parcial/postre3.webp
I PARCIAL/Examen 1 Parcial/restaurante.webp
I PARCIAL/Examen1Par_DiegoAlvaradoA.zip
I PARCIAL/HolaMundo_DiegoAlvaradoA.zip
I PARCIAL/internet repaso.pdf
I PARCIAL/Listas&Tablas_DiegoAlvarado.html
I PARCIAL/Portales web 1 presentacion 1.pdf
I PARCIAL/Prueba2_DiegoAlvarado.html
II PARCIAL/15Junio_DiegoAlvaradoA.zip
II PARCIAL/Prueba II Parcial - Grupo C.zip
II PARCIAL/Semana2_DiegoAlvaradoA.zip
